body{
    padding: 20px 30px;
    font-size: 14px;
    font-family: Tahoma, Arial, sans-serif;
    line-height: 1.5em;
    color: #333333;
}

ul, li{
    list-style: none;
}

ul, li, p{
    padding: 0;
    margin: 0;
}

h1, h2, h3{
    font-weight: normal;
    margin: 0 0 20px 0;
}

h1{
    font-size: 150%;
    margin: 20px 0 0;
}

section{ 
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

h2{
    margin-top: 40px;
    font-size: 140%;
    font-weight: normal;
}

article{
    margin: 20px 0;
    background-color: #f7f7f7;
    padding: 15px 20px;
}


h3{
    font-size: 130%;
    font-weight: bold;
    display: block;
}

article article{
    margin: 20px 0 0;
    padding: 0;
}

h4, article article h3{
    font-size: 100%;
}

p{
    margin-top: 10px
}

strong{
    font-weight: normal;
    display: inline-block;
    margin-right: 20px
}

#templates{
    display: none;
}
